.CamperDetailsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1312px;
    height: 1468px;
    margin: 0 auto;
    padding: 48px 0;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 auto;
}

.CamperDetailsName {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #101828;
    margin-bottom: 8px;
}
.CamperDetailsSelected{
    display: flex;
    gap: 16px;
}
.CamperDetailsreviews {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
    margin-bottom: 24px;
    text-decoration: underline;
}
.CamperDetailsRatingIcon {
    width: 16px;
    height: 16px;
    fill: #FFC531;
    margin-right: 4px;
}
.CamperDetailslocation{
   display: flex;
   gap: 4px;
}
.CamperDetailsItemMap{
    width: 16px;
    height: 16px;
}
.DetailsLocation {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
    margin-bottom: 24px;
}
.CamperDetailsPrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #101828;
    margin-bottom: 28px;
}
.CamperDetailsText {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
    margin-bottom: 60px;
}

.CamperDetailsgallery {
    display: flex;
    gap: 48px;
    margin-bottom: 28px;
}

.galleryImage {
    border-radius: 10px;
    width: 292px;
    height: 312px;
}
.CamperInfoContainer {
    display: flex;
   justify-content: space-between;
}


.CamperDetailsTabs {
    display: flex;
    gap: 10px;
}

.CamperDetailsTabs a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #101828;
}
.tab {
    position: relative;
    padding-bottom: 15px;
}

.tab.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 6px;
    background-color: #E44848;
}

.CamperInfoError {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #d33c44;
}
.divider {
    border: none;
    border-top: 1px solid #DADDE1;
    width: 1312px;
    margin-top: 0;
    margin-bottom: 44px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalImage {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.tab {
    padding: 12px 0;
    font-size: 16px;
    color: #757575;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}


