.catalogPage {
    width: 1440px;
    display: flex;
    gap: 64px;
    padding: 48px 64px;
    background-color: #fff;
}

.catalogPageWrap {
    display: flex;
    flex-direction: column;
    width: 888px;
    min-height: 368px;
}