.CamperFeatureDetails {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    width: 631px;
    height: 588px;
    padding: 44px 52px;
    background-color: #F7F7F7;
}
.CamperFeatureTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #101828;
    margin-bottom: 24px;
}
.activeFilters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border-radius: 10px;
    width: 527px;
    min-height: 104px;
    margin-bottom: 50px;
}
.activeFilterIcons {
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    padding: 12px 18px;
    width: 143px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
    background-color: #F2F4F7;
}
.CamperFeatureIcon{
    width: 20px;
    height: 20px;
}
.CamperFeatureTable {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 527px;
    height: 224px;
}
.CamperFeatureTr {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
}

.CamperFeatureDivider {
    border: none;
    border-top: 1px solid #DADDE1;
    margin: 0;
    margin-bottom: 24px;
    width: 527px;
}