.catalogItem {
    display: flex;
    border: 1px solid #DADDE1;
    padding: 24px;
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    height: 368px;
}
.catalogItemImage {
    border-radius: 10px;
    width: 292px;
    height: 320px;

}
.catalogItemWrapper{
    display: flex;
    flex-direction: column;
    padding: 0 24px 0;
}
.catalogItemTitle{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
}
.catalogItemHeartIcon{
    width: 26px;
    height: 24px;

}
.catalogItemreviews{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
    margin-bottom: 24px;
}
.catalogItemMap{
    width: 16px;
    height: 16px;
}
.catalogItemRating{
    width: 16px;
    height: 16px;
    stroke:#FFC531;
    margin-right: 4px;
}
.catalogItemRating{
    margin-right:8px;
}
.catalogItemreviewsCount{
    margin-right: 16px;
}
.catalogItemdescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
    margin-bottom: 24px;
}
.catalogItemBtn {
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    color: white;
    background-color: #E44848;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.catalogItemBtn:hover,
.catalogItemBtn:focus {
    background-color: #D84343;
}